@font-face {
    font-family: 'Haval';
    src: url('Haval-Regular.eot');
    src: local('Haval Regular'), local('Haval-Regular'),
        url('Haval-Regular.eot?#iefix') format('embedded-opentype'),
        url('Haval-Regular.woff2') format('woff2'),
        url('Haval-Regular.woff') format('woff'),
        url('Haval-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Haval';
    src: url('Haval-Medium.eot');
    src: local('Haval Medium'), local('Haval-Medium'),
        url('Haval-Medium.eot?#iefix') format('embedded-opentype'),
        url('Haval-Medium.woff2') format('woff2'),
        url('Haval-Medium.woff') format('woff'),
        url('Haval-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Haval';
    src: url('Haval-MediumSlanted.eot');
    src: local('Haval MediumSlanted'), local('Haval-MediumSlanted'),
        url('Haval-MediumSlanted.eot?#iefix') format('embedded-opentype'),
        url('Haval-MediumSlanted.woff2') format('woff2'),
        url('Haval-MediumSlanted.woff') format('woff'),
        url('Haval-MediumSlanted.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Haval';
    src: url('Haval-Light.eot');
    src: local('Haval Light'), local('Haval-Light'),
        url('Haval-Light.eot?#iefix') format('embedded-opentype'),
        url('Haval-Light.woff2') format('woff2'),
        url('Haval-Light.woff') format('woff'),
        url('Haval-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

